<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>88658833659-tlcmkhuujkntsl9fr9athddhdg279sll.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.88658833659-tlcmkhuujkntsl9fr9athddhdg279sll</string>
	<key>API_KEY</key>
	<string>AIzaSyA_nrLrhPlTlVagVpmzUMrpN_LBwQig76M</string>
	<key>GCM_SENDER_ID</key>
	<string>88658833659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.absarrahman.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-67efd</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-67efd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:88658833659:ios:ed4f54e2e11acbaf75005e</string>
</dict>
</plist>